<body>
        
        
        <!-- Mostramos los datos de la temperatura -->
        <h1> Temperatura: </h1>
        <app-temperatura [temperatura]="datos.temperatura"></app-temperatura>
        <app-sensacion-termica [sensacionTermica]="datos.sensTermica"></app-sensacion-termica>
        <app-humedad [humedad]="datos.humedadRelativa"></app-humedad>
        <br><br>
        <!-- Mostrar los datos del cielo -->
        <h1>Cielo: </h1>
        <app-precipitaciones [precipitaciones]="datos.probPrecipitacion"></app-precipitaciones>
        <app-estado-cielo [estado]="datos.estadoCielo"></app-estado-cielo>
        <br><br>
        <h1>Viento: </h1>
        <app-viento [vientos]="datos.viento"></app-viento>
        
</body>      
