
<body>

    <h1>Humedad:</h1>
        <p-splitter [panelSizes]="[25, 75]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <h2>Máxima: {{maxima}}</h2>
                <hr>
                <img src="../../../../assets/humedad/humedad.png" alt="">
                <hr>
                <h2>Mínima: {{minima}}</h2>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <!-- En el segundo panel se van a insertar tantos paneles como datos tenga los datos-->
                <ng-container *ngIf="nDatos>0; else nohaydatos">

                    <!-- Creamos un nuevo contenedor que contenga los datos-->
                    <p-splitter>
                        <!-- Para cada uno de los elementos se va a crear un nuevo contendor que muestre su hora y su sensación asociada -->
                        <ng-template pTemplate *ngFor="let data of datos">
                            <div class="col flex align-items-center justify-content-center">
                                <p> A partir de las <span class="importante">{{data.hora}}:00 h</span> la humedad será de <span class="importante">{{data.value}}%</span>.</p>
                            </div>
                        </ng-template>
                    </p-splitter>

                </ng-container>
                <ng-template #nohaydatos>
                    <p id="noMoreText">Actualmente no se tienen datos relativos a la humedad para este día.</p>
                </ng-template>


            </div>
        </ng-template>
    </p-splitter>
</body>